# Incluir apenas arquivos importantes para a biblioteca
include README.md
include LICENSE
include pyproject.toml
include setup.py
include jackson_easy_api/manage.py

recursive-include jackson_easy_api *.py

# Excluir arquivos desnecessários
exclude .gitignore
exclude *.pyc
exclude *.pyo
exclude .env
